name: Tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - "*"

jobs:
  julia:
    name: Test Julia ${{ matrix.jlversion }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        jlversion: ["1", "1.10"]
        os:
          - ubuntu-latest
        arch:
          - x64
        include:
          - os: windows-latest
            version: "1"
            arch: x86
          - os: macos-latest
            version: "1"
            arch: aarch64
          - os: ubuntu-latest
            version: "nightly"
            arch: x64
            allow_failure: true

    steps:
      - uses: actions/checkout@v5

      - name: Setup Julia ${{matrix.jlversion}}
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.jlversion }}
          arch: ${{ matrix.arch }}

      #      - name: Use julia-actions cache
      #        uses: julia-actions/cache@v2

      - name: Build package
        uses: julia-actions/julia-buildpkg@v1

      - name: Run tests
        uses: julia-actions/julia-runtest@v1
        env:
          JULIA_NUM_THREADS: "8"

      - name: Process coverage
        uses: julia-actions/julia-processcoverage@v1

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
